{% extends 'layout.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <h1>Steffan Harries</h1>
                <p><a href="/about"><img src="./Bootstrap/img/me.jpg" alt="Me" class="me"></a>
                I'm a twenty-something web developer from Llanelli now living in Cardiff. I received a BSc (Hons) in Internet Computing from <a href="http://www.aber.ac.uk/en/cs/" target="_blank" >Aberystwyth University's Computer Science</a> Department and I'm a Professional Member (MBCS) of the <a href="http://www.bcs.org/" target="_blank">British Computing Society</a>.
                <p>I like taking photos and put the ones I like the most on <a href="http://www.flickr.com/steffanharries" target="_blank">Flickr</a>. I've won a few competitions and made a lot of friends through photography at camera clubs, university and online. I like shooting <a href="http://www.flickr.com/photos/steffanharries/5625335984/in/photostream/lightbox/" target="_blank">landscapes on the beach</a> &amp; <a href="http://www.flickr.com/photos/steffanharries/6685749357/in/photostream/lightbox/" target="_blank">military aircraft</a> the most. </p>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <h2><a class="home-link" href="/development">Development</a> <i class="icon-list-alt"></i></h2>
            <p>Front-end and PHP web development are my favoured areas and implementing responsive web design principles is something I've been following closely for the last few years. My availability for freelance work is limited but possible. Contact me for more information on availability. If I can't help you, I can often find someone who can.
            </p>
            <p><a class="btn" href="/development">Read more »</a></p>
        </div><!--/span-->
        <div class="span4">
            <h2><a class="home-link" href="/photography">Photography</a> <i class="icon-camera"></i></h2>
            <p>I love photography and post photos to <a href="http://www.flickr.com/steffanharries" target="_blank">Flickr</a>. I've shot weddings in the past as a second shooter and by myself on half a dozen occasions with positive results.</p>

            <p>I now shoot entirely for fun and have never enjoyed it more. Use of my work is strictly prohibited but I do provide high resolution copies for those who ask nicely.</p>
            <p><a class="btn" href="/photography">Read more »</a></p>
        </div><!--/span-->
        <div class="row-fluid">
            <div class="span4">
                <h2><a class="home-link" href="/contact">Contact Me</a> <i class="icon-envelope"></i></h2>
                <p>I'm currently employed in Cardiff and so unavailable for any other full time work. My availability for freelance photography and development work is limited but possible.</p>

                <p>I'm always interested in meeting new and interesting people. Email me at <a href="mailto:contact@steffanharries.me.uk">contact[at]steffanharries.me.uk</a> with any questions, I always aim to reply with 24 hours.</p>
                <p><a class="btn" href="/contact">Read more »</a></p>
            </div><!--/span-->
        </div><!--/span-->
    </div><!--/row-->

{% endblock %}
